body {
  background-color: #424242;
  font-family: 'MinecraftReg', sans-serif;
  margin: 0;
}

header {
  display: flex;
  padding: 8px;
  padding-top: 12px;
  margin-bottom: 5px;
  border-bottom: 4px solid #939393;
  background-color: #f0f0f0;
  color: #333;
  box-shadow: 0 2px 0px #161616;
  }

.mcTen-text {
  font-family: 'MinecraftTen';
  position: relative;
  top: 2px;
}

.screen-container {
  z-index: 3;
  color: #ffffff;
}


#sidebar-enable-button{
  cursor: pointer;
  width: 0px;
}

#sidebar-close-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

#sidebar {
  display: none;
  position: fixed;
  padding: 10px;
  top: 0;
  height: 100%;
  min-width: 250px;
  
  background-color: #262626;
  z-index: 3;
  color: #ffffff;
  border-right: 4px solid #363636;
  box-shadow: 2px 0 0px rgba(0, 0, 0, 1);
}

.sidebar-content {
  display: block;
  margin: auto;
}

.sidebar-button-container {
  min-height: 42px;
  margin-bottom: 5px;
}

.sidebar-button {
  max-height: 40;
  border: 2px solid #000000;
}

.sidebar-button:hover {
  position: relative;
  top: 3px;
}

.sidebar-button-content {
  padding-inline: 10px;
  padding-block: 5px;
  display: flex;
  margin: auto;
  color: #333;
  background-color: #cbcbcb;
  border: 2px solid #e5e5e5;
  margin-bottom: 3px;
  box-shadow: 0px 3px 0px #6e6d6d;
}

.sidebar-button-content:hover {
  box-shadow: none;
  margin-bottom: 0px;
  color: #ffffff;
  background-color: #0b740d;
  border: 2px solid #169f18;
}

.sidebar-button-icon {
  width: 22px;
  height: 22px;
}

.sidebar-button-text {
  margin-block: auto;
  margin-inline-start: 20px;
}

.content-container {
  display: flex;
  min-height: 100vh;
}


.info-container {
  margin-top: 15px;
  max-width: 500px;
}

.info-container-wrapper {
  margin-inline: 20px;
  border: 2px solid #000000;
}

.info-header {
  display: flex;
  padding: 10px;
  background-color: #505050;
  border: 2px solid #5e5e5e;
}

.info-content {
  display: block;
  text-align: center;
  line-height: 23px;
  padding: 15px;
  background-color: #262626;
  border-bottom: 2px solid #383838;
}

.info-bottom-content {
  display: flex;
  padding: 2.5px;
  min-height: 40px;
  background-color: #262626;
  border-bottom: 2px solid #383838;
}


.green-button {
  margin: auto;
  border: 2px solid #000000;
}

.green-button:hover {
  position: relative;
  top: 3px;
}

.green-button-content {
  color: #ffffff;
  padding-block: 5px;
  padding-inline: 15px;
  text-align: center;
  background-color: #19770e;
  border: 2px solid #15821b;
  margin-bottom: 3px;
  box-shadow: 0px 3px 0px rgba(16,59,11,1);
}

.green-button-content:hover {
  background-color: #14520d;
  border: 2px solid #125816;
  color: #b4b4b4;
  margin-bottom: 0px;
  box-shadow: none;
}


.purple-button {
  margin: auto;
  border: 2px solid #000000;
}

.purple-button:hover {
  position: relative;
  top: 3px;
}

.purple-button-content {
  color: #ffffff;
  padding-block: 5px;
  padding-inline: 15px;
  text-align: center;
  background-color: #810dd6;
  border: 2px solid #9314f0;
  margin-bottom: 3px;
  box-shadow: 0px 3px 0px #55098e;
}

.purple-button-content:hover {
  background-color: #55098e;
  border: 2px solid #600aa1;
  color: #b4b4b4;
  margin-bottom: 0px;
  box-shadow: none;
}


.dekstop-margin {
  width: 10px;
}

.footer-container {
  background-color: rgba(20,20,20,0.9);
  border-top: 2px solid #000000;
  width: 100%;
  min-height: 100px;
  z-index: 3;
}

.footer-content {
  display: block;
  margin: auto;
  text-align: center;
  align-items: center;
  padding: 15px;
  min-height: 40px;
}

.ads-container {
  overflow: hidden;
  max-height: 0px;
  max-width: 0px;
}

#bottom-content-type {
  min-width: 500px;
  min-width: 500px;
}

@media (max-width: 600px) {
  body {
    font-size: 14px;
  }

  #sidebar {
    min-width: 40%;
  }

  .sidebar-button-text {
    margin-inline-start: 10px;
  }

  .content-container {
    display: block;
  }
  .dekstop-margin {
    width: 0px;
  }
  
  #bottom-content-type {
    min-width: 100px;
  }
}
